<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name  *</label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> What's your phone number?  *</label>
          <p>
            We'll be adding you to a WhatsApp group for further instructions 😛
          </p>
          <input type="tel"
                 name="phone"
                 ng-model="user.profile.phoneNumber"
                 placeholder="(+91) - 12345 9876"
                 required>
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School  *</label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School   *</label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year  *</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
        </div>

        <div class="field">
          <label>Gender  *</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
        </div>

        <div class="field">
          <label>I would describe myself as a...  *</label>
          <input type="text"
                  name="descrip"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>
        <div class="divided title"> Skills & Accomplishments </div>

        <div class="field">
          <label> What are you studying?  *</label>
          <input type="text"
                 name="study"
                 placeholder="Computer Science, Electronics , etc."
                 ng-model="user.profile.major">
        </div>

        <div class="field">
          <label> Github  *</label>
          <input type="text"
                 name="github"
                 placeholder="https://github.com/foobar"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label> Personal Website / LinkedIn * </label>
          <input type="text"
                 name="twitter"
                 placeholder="https://linkedin.com/foobar"
                 ng-model="user.profile.twitter">
        </div>

        <div class="field">
          <label> Skill Sheet  *</label>
          <p>
            Upload a document link outlining any skills or experience you'd like to share (ex. resume). PDF preferred!
          </p>
          <input type="text"
                 name="resume_link"
                 placeholder="Google Drive Link or any other"
                 ng-model="user.profile.resume">
        </div>

        <br>
        <br>

        <div class="divided title">everything else</div>
        
        <div class="field">
          <label>
            Why do you want to attend KJSCE Hackathon?  *
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>

        <div class="field">
          <label>
            Additional Notes
          </label>
          <p>
            If there's anything else you need to let us know, tell us here!
          </p>
          <textarea
            ng-model="user.profile.notes"></textarea>
        </div>

        

        <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by KJSCE, we are not legally allowed to host
            minors (those under 18) for KJSCE Hackathon 2018. Checking the box below affirms that you are or will be 18 years or older on day.
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>