<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">
          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui purple button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>
        


        </fieldset>
      </div>
    </div>
  </div>
</div>
